<md-dialog aria-label="" style="width: 800px;padding: 20px" >
    <form ng-cloak="">


        <md-dialog-content style="">
            <div >
                <h2><b>Passord Recovery Process</b></h2>
                <hr/>
                <form>
                    <label><h4>Enter admin/lecturer Number :</h4></label>
                    <input required="" style="font-size: 18px;height:50px;margin-bottom: 5px" class="form-control" placeholder="Enter admin/lecturer number" ng-model="userNumber" />
                    
                    
                </form>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" >


            <span flex=""></span>
            <md-button class="md-raised md-primary" ng-click="cancel()" md-autofocus="">
                Cancel
            </md-button>
            <md-button class="md-raised md-primary" ng-click="forgotPassord(userNumber)" md-autofocus="">
                Retrieve Password
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>